#gachart_visits {
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
  clear: both;
}

/* A border color of #D3E7F4 goes well with the Garland theme. */
#gachart_date_select {
  border: 1px solid #DDD;
  padding: 10px;
  clear: both;
}

#gachart_usage {
  width: 100%;
  margin-bottom: 5px;
  clear: both;
}

#gachart_visitors {
  width: 66%;
  height: 250px;
  float: left;
  clear: left;
  margin-top: 0px;
}

#gachart_browsers {
  width: 34%;
  height: 250px;
  float: right;
  clear: right;
  margin-top: 0px;
}

#gachart_content {
  width: 100%;
  clear: both;
}

/**
 * This has been styled to suit the Garland theme, which doesn't have any
 *   styles applied to <caption> by default.
.gachart_titlebar {
  background-color: #436FC6;
  color: #FFF;
  text-align: center;
  padding: 0.3em 0.5em;
  font-size: 12px;
  font-family: Verdana,sans-serif;
  font-weight: bolder;
}
*/

.gachart_pages {
  width: 50%;
}

.gachart_pageviews,
.gachart_percent_pageviews {
  width: 25%;
}

#gachart-select-date {
  clear: both;
}

#edit-gachart-select-start-date-wrapper,
#edit-gachart-select-end-date-wrapper,
#edit-gachart-submit,
#edit-gachart-reset {
  display: inline;
  float: left;
  margin: 1em;
}

#edit-gachart-select-start-date-wrapper {
  clear: left;
}

#edit-gachart-reset {
  clear: right;
}

#block-gachart-content_90days,
#block-gachart-content_7days {
	display: inline;
  width: 48%;
  float: left;
  padding-right: 2px;
  margin-bottom: 20px;
}

#block-gachart-content_90days {
  clear: left;
  margin-right: 3px;
}

#block-gachart-content_7days {
  clear: right;
  margin-left: 3px;
}

#block-gachart-visits_30day_pic,
#v30d {
  display: block;
  clear: both;
  float: none;
  width: 100%;
}

table.gachart {
  margin: 0px;
  width: 100%;
}

/* A border color of #D3E7F4 goes well with the Garland theme. */
#v30d img {
  border: 1px solid #DDDDDD !important;
  padding: 5px;
  background-color: #FFFFFF;
}
